<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Businet IoT Project">
    <meta name="author" content="">
    <!-- <link rel="icon" href="./favicon.ico"> -->
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/navbar.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

        <% include navbar %>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2><%= page_title %></h2>

            <p>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Occupied seats</h3>
                    </div>
                    <div class="panel-body">
                        <h2 id="occupied_seats"><%= seats %><h2/>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Average waiting time</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Visitors today</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Popular times</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>

        </p>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socket = io();
        socket.on('userCount', function(msg){
            $('#occupied_seats').html(msg);
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./javascripts/bootstrap.min.js"></script>
  </body>
</html>
