<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Businet IoT Project">
    <meta name="author" content="">
    <!-- <link rel="icon" href="./favicon.ico"> -->
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap-2.css" rel="stylesheet">
    <link href="/stylesheets/navbar.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

        <% include navbar %>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2><%= page_title %></h2>

            <p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Occupied seats</h3>
                    </div>
                    <div class="panel-body">
                        <h2 id="occupied_seats"><%= seats %></h2>
                            <canvas id="seats_chart" style="width: 100%; max-width: 400px;max-height: 400px; height: auto;"></canvas>
                            <a href="#" id="reset" class="btn btn-danger">Reset counter</a>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Average waiting time</h3>
                    </div>
                    <div class="panel-body">
                        <h2>24 minutes</h2>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Visitors today</h3>
                    </div>
                    <div class="panel-body">
                        <canvas id="visitors_today_chart" style="width: 100%"></canvas>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Popular times</h3>
                    </div>
                    <div class="panel-body">
                        <canvas id="popular_times_chart" style="width: 100%"></canvas>
                    </div>
                </div>
            </div>

        </p>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="./javascripts/Chart.min.js"></script>
    <script>
        var socket = io();
        socket.on('userCount', function(msg){
            $('#occupied_seats').html(msg + ' / 12');
            newDonutChart(msg, 12);
        });
        $('#reset').click(function(){
            socket.emit('reset_counter');
            return false;
        });

        var loadedSeats = $('#occupied_seats').html();

        newDonutChart(loadedSeats, 12);

        function newDonutChart(currentVisitors, maxVisitors) {
            if (maxVisitors - currentVisitors < 0) {
                var freevalue = 0;
                var color = "#ff4d4d";
            } else {
                var freevalue = maxVisitors - currentVisitors;
                var color = "#ffbf80"
            }

            var visitors_chart_data = [
                {
                    value: currentVisitors,
                    color: color,
                    highlight: "#5AD3D1",
                    label: "Occupied"
                },
                {
                    value: freevalue,
                    color: "#f2f2f2",
                    highlight: "#5AD3D1",
                    label: "Free"
                }
            ]

            var ctx = $("#seats_chart").get(0).getContext("2d");
            var visitors_chart = new Chart(ctx).Doughnut(visitors_chart_data,{segmentShowStroke:false, animateRotate: false, animateScale:false});

            var today_data = {
                labels: ["09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00"],
                datasets: [
                    {
                        label: "Todays visitors",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [1, 3, 2, 0, 4, 10, 13]
                    }
                ]
            };

            var ctx2 = $("#visitors_today_chart").get(0).getContext("2d");
            var today_visitor_chart = new Chart(ctx2).Line(today_data, null);

            var popular_data = {
                labels: ["09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00"],
                datasets: [
                    {
                        label: "Popular times",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [1, 3, 2, 0, 4, 10, 13]
                    }
                ]
            };

            var ctx3 = $("#popular_times_chart").get(0).getContext("2d");
            var popular_times_chart = new Chart(ctx3).Bar(popular_data, null);

            $( window ).resize(function() {
                var ctx = $("#seats_chart").get(0).getContext("2d");
                var visitors_chart = new Chart(ctx).Doughnut(visitors_chart_data,{segmentShowStroke:false, animateRotate: false, animateScale:false});
                var ctx2 = $("#visitors_today_chart").get(0).getContext("2d");
                var today_visitor_chart = new Chart(ctx2).Line(today_data, null);
                var ctx3 = $("#popular_times_chart").get(0).getContext("2d");
                var popular_times_chart = new Chart(ctx3).Bar(popular_data, null);
            });
        }
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./javascripts/bootstrap.min.js"></script>
  </body>
</html>
